<div id="<%= dom_id booking %>">
  <p>
    <strong>Start date:</strong>
    <%= booking.start_date %>
  </p>

  <p>
    <strong>Last date:</strong>
    <%= booking.last_date %>
  </p>

  <p>
    <strong>Num of persons:</strong>
    <%= booking.num_of_persons %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= booking.room_id %>
  </p>

</div>
