<div id="<%= dom_id booking %>">
  <%@room = Room.find(params[:room_id]) %>
  <div class="container-sm">
  <p>
    <strong>Your name:</strong>
    <%= booking.user_name %>
  </p>

  <p>
    <strong>Your email:</strong>
    <%= booking.user_email %>
  </p>

  <p>
    <strong>Check-in date:</strong>
    <%= booking.start_date %>
  </p>

  <p>
    <strong>Check-out date:</strong>
    <%= booking.last_date %>
  </p>


  <p>
    <strong>Room:</strong>
    <%= @room.name %>
  </p>
  <div>
    <%= link_to "Back to rooms", rooms_path %>
  </div>

</div>

</div>